@page "/editor/{UserId}/{Identifier}"
@using Microsoft.AspNetCore.Components
@using Pantrymony.Communication
@using Pantrymony.Extensions
@using Pantrymony.Model
@using Pantrymony.Common
@inject ILogger<Editor> Logger
@inject HttpClient HttpClient
@inject IConfiguration Configuration
@inject NavigationManager UriHelper
@inject IJSRuntime JsRuntime
<PageTitle>Add/Edit entry</PageTitle>

<h3>Editor</h3>

<table class="table">
    <tr class="form-group">
        <td>
            <span class="col-form-label">Upload Image files</span>
            <InputFile id="fileInput" OnChange="OnVictualImageChanged" accept=".png,.jpg,jpeg"/>
        </td>
         <td>
             <button class="btn btn-outline-primary" @onclick="OnClearImage" disabled="@IsClearImageDisabled">Clear image</button>
         </td>
        <td>
            @if (string.IsNullOrEmpty(_downloadedImageUrl))
            {
                <img id="VictualImage" alt="" src="">
            }
            else
            {
                <img id="VictualImage" src = @_downloadedImageUrl alt="">
            }
            
        </td>
        
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">Name</span>
        </td>
        <td>
            <input type="text" class="input-group" @bind="_editedEntry.Name"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <label>Quantity:@_editedEntry.Quantity</label>
            <button class="btn btn-outline-primary" @onclick="() => { IncrementQuantity(_editedEntry); }">+</button>
            <button class="btn btn-outline-primary" @onclick="() => { DecrementQuantity(_editedEntry); }">-</button>
        </td>
    </tr>
    <tr class="form-group">
        <td>
                    <span class="col-form-label">Measurement Unit</span>
        </td>
        <td>
            @if (_units.Any())
            {
                <select class="custom-select" title="Measurement Unit" value="@_editedEntry.Unit"
                        @onchange="args => { OnUnitSelectionChanged(args, _editedEntry); }">
                    <option value="Select" selected disabled="disabled">(Choose measurement unit)</option>
                    @foreach (var unit in _units)
                    {
                        <option value="@unit.Symbol"> @unit.Symbol</option>
                    }
                </select>
            }
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">KCal/100 units</span>
        </td>
        <td>
            <input type="number" class="input-group" @bind="_editedEntry.Calories"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">Protein %</span>
        </td>
        <td>
            <input type="number" class="input-group" @bind="_editedEntry.Protein"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">Carbohydrates %</span>
        </td>
        <td>
            <input type="number" class="input-group" @bind="_editedEntry.Carbs"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">Fat %</span>
        </td>
        <td>
            <input type="number" class="input-group" @bind="_editedEntry.Fat"/>
        </td>
    </tr>
     <tr class="form-group">
            <td>
                <span class="col-form-label">Expiration date</span>
            </td>
            <td>
                <input type="date" value="@_editedEntry.Expires.ToString("yyyy-MM-dd")" @onchange="ExpirationDateChanged"/>
            </td>
        </tr>
    <tr class="form-group">
        <td>
            <button class="btn btn-outline-primary" @onclick="SaveChangesAsync">Save</button>
        </td>
    </tr>
</table>



@code {
    private enum OperatingMode
    {
        Editing,
        Adding,
        None
    }
    
    [Parameter]
    public string UserId { get; set; }
    [Parameter]
    public string Identifier { get; set; }

    private string _downloadedImageUrl = string.Empty;
    
    private IBrowserFile? _selectedVictualImage;

    private OperatingMode _operatingMode = OperatingMode.None;
    private Victual _editedEntry = new();
    private List<Unit> _units = new();
    private readonly PageInjectedDependencies _injectedDependencies = new();
    
    protected override async Task OnInitializedAsync()
    {
        _injectedDependencies.JScriptRuntime = JsRuntime;
        _injectedDependencies.Logger = Logger;
        _injectedDependencies.HttpClient = HttpClient;
        _injectedDependencies.Configuration = Configuration;
        
        await LoadMeasurementUnits();
        Identifier.ThrowIfNull(new ArgumentNullException(nameof(Identifier)));
        if (Guid.Parse(Identifier!) == Guid.Empty)
        {
            _operatingMode = OperatingMode.Adding;
            _editedEntry = new Victual
            {
                UserId = UserId,
                VictualId = Guid.NewGuid(),
                Expires = DateTime.Now,
                ImageUrl = String.Empty,
                Unit = _units.First().Symbol
            };
        }
        else
        {
            _operatingMode = OperatingMode.Editing;
            _editedEntry = await BackendCommunication.FetchVictualOfUserAsync(UserId, Identifier, _injectedDependencies);
            _downloadedImageUrl = _editedEntry.ImageUrl;
        }
    }

    private async Task LoadMeasurementUnits()
    {
        var units = await BackendCommunication.FetchUnitsAsync(_injectedDependencies);
        _units = units.ToList();
    }

    private void IncrementQuantity(Victual victual)
    {
        victual.Quantity++;
    }

    private void DecrementQuantity(Victual victual)
    {
        victual.Quantity--;
    }

    private async Task SaveChangesAsync()
    {
        if (_operatingMode == OperatingMode.Adding)
        {
            await CreateNewEntryAsync();
        }
        else
        {
            await UpdateExistingEntryAsync();
        }
        UriHelper.NavigateTo($"/");
    }

    private async Task UpdateExistingEntryAsync()
    {
        await BackendCommunication.SendUpdateVictualAsync(_editedEntry, _injectedDependencies);
        
        if (IsImageOfVictualUnchanged())
            return;
        
        if(WasVictualImageCleared())
            await BackendCommunication.DeleteImageAsync(_editedEntry, _injectedDependencies);

        if (IsNewVictualImageSelected())
        {
            await UploadSelectedImage();
        }
    }

    private async Task UploadSelectedImage()
    {
        await using var imageStream = _selectedVictualImage.OpenReadStream();
        using var memStream = new MemoryStream();
        await imageStream.CopyToAsync(memStream);
        await BackendCommunication.PostImageAsync(_editedEntry, memStream.ToArray(), _injectedDependencies);
    }

    private async Task CreateNewEntryAsync()
    {
        try
        {
            await BackendCommunication.PostNewEntryAsync(_editedEntry, _injectedDependencies);
            if (IsNewVictualImageSelected())
                return;
            await UploadSelectedImage();
        }
        catch (Exception ex)
        {
            Logger.LogError("{Message}:{Stack}",ex.Message,ex.StackTrace);
            throw;
        }
    }
    
    private async Task OnVictualImageChanged(InputFileChangeEventArgs fileChangeEventArgs)
    {
        try
        {
            _downloadedImageUrl = string.Empty;
            var imageFile = fileChangeEventArgs.File;
            _selectedVictualImage = 
                await imageFile.RequestImageFileAsync("image/png", 300, 500);
            await using var imageStream = _selectedVictualImage.OpenReadStream();
            var dotnetImageStream = new DotNetStreamReference(imageStream);
            var jsUtils = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./scripts/util.js");
            await jsUtils.InvokeVoidAsync("setImageUsingStreaming", "VictualImage", dotnetImageStream);
        }
        catch (Exception ex)
        {
            Logger.LogError("{Message}:{Stack}",ex.Message,ex.StackTrace);
            throw;
        }
    }
 
    private void ExpirationDateChanged(ChangeEventArgs obj)
    {
        if(obj.Value != null && DateTime.TryParse(obj.Value.ToString(), out var updatedDate))
            _editedEntry.Expires = updatedDate;
    }

    private void OnUnitSelectionChanged(ChangeEventArgs args, Victual editedEntry)
    {
        if (args.Value == null)
            return;
        var measurementUnit = _units.SingleOrDefault(unit => unit.Symbol == args.Value.ToString());
        if(measurementUnit == null)
            return;
        editedEntry.Unit = measurementUnit.Symbol;
    }

    private bool IsImageOfVictualUnchanged()
    {
        return _selectedVictualImage is null && _downloadedImageUrl == _editedEntry.ImageUrl;
    }

    private bool WasVictualImageCleared()
    {
        return _downloadedImageUrl != _editedEntry.ImageUrl;
    }

    private bool IsNewVictualImageSelected()
    {
        return _selectedVictualImage is not null;
    }

    private void OnClearImage()
    {
        _selectedVictualImage = null;
        _downloadedImageUrl = string.Empty;
    }

    private bool IsClearImageDisabled => _selectedVictualImage is null && string.IsNullOrEmpty(_downloadedImageUrl);

}